.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  row-gap: 10px;
}

@media only screen and (max-width: 769px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
