.card {
  min-width: 200px;
  min-height: 350px;
  border: 2px solid black;
  padding: 2%;
  background-color: antiquewhite;
  overflow-x: hidden;
  box-sizing: border-box;
}

.card img {
  margin-top: 5%;
  width: 4vh;
  height: 10vh;
}

.name {
  font-size: 20px;
  color: black;
  margin: 5% auto;
}

.description {
  font-size: 14px;
  color: black;
}
