@use "../../assets/sass/_variables.scss" as *;

.card {
  min-width: 200px;
  min-height: 350px;
  border: 2px solid $color-black;
  padding: 2%;
  background-color: $color-old-white;
  overflow-x: hidden;
  box-sizing: border-box;
}

.card img {
  margin-top: 5%;
  width: 4vh;
  height: 10vh;
}

.name {
  font-size: 20px;
  color: $color-black;
  margin: 5% auto;
}

.description {
  font-size: 14px;
  color: $color-black;
}
