@use "./assets/sass/_variables.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  border: 2px solid $color-black;
  display: flex;
}

@media only screen and (max-width: 769px) {
  .app {
    flex-direction: column;
  }
}
